/*自定义文章章节文字分割*/
.post_cus_note {
  display: block;
  font-weight: 300;
  background-image: linear-gradient(to right, #fff, #8bc34a, #4caf50, #4caf50, #4caf50, #8bc34a, #fff);
  background-color: #4caf50;
  color: #fff;
  font-size: 1.4em;
  line-height: 2em;
  margin: 14px 10px;
  padding: 10px 0;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #666;
  text-align: center;
}

.label-default {
  margin-left: 1%;
  margin-right: 2.5%;
  background-color: #777 !important;
  font-size: 18px !important;
  display: inline;
  padding: 0.5em 1.2em 0.5em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.label-primary {
  margin-left: 1%;
  margin-right: 2.5%;
  background-color: #337ab7 !important;
  font-size: 18px !important;
  display: inline;
  padding: 0.5em 1.2em 0.5em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.label-success {
  margin-left: 1%;
  margin-right: 2.5%;
  background-color: #5cb85c !important;
  font-size: 18px !important;
  display: inline;
  padding: 0.5em 1.2em 0.5em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.label-info {
  margin-left: 1%;
  margin-right: 2.5%;
  background-color: #5bc0de !important;
  font-size: 18px !important;
  display: inline;
  padding: 0.5em 1.2em 0.5em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.label-warning {
  margin-left: 1%;
  margin-right: 2.5%;
  background-color: #f0ad4e !important;
  font-size: 18px !important;
  display: inline;
  padding: 0.5em 1.2em 0.5em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.label-danger {
  margin-left: 1%;
  margin-right: 2.5%;
  background-color: #d9534f !important;
  font-size: 18px !important;
  display: inline;
  padding: 0.5em 1.2em 0.5em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}